.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.logo {
  font-size: 1.5rem;
  margin-right: auto;
}

.nav-links, .auth-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li, .auth-buttons > * {
  margin-right: 1rem;
}

.nav-links li a, .auth-buttons > * {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links li a:hover, .auth-buttons > *:hover {
  color: #ffffff;
}

.signup-button {
  background-color: #20368e;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}

.login-button{
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}

.signup-button:hover {
  background-color: #102765;
}

.login-button:hover {
  background-color: #ffffff;
  color: #000;
}


/* Footer styles */
.footer {
  background-color: #333333;
  color: #fff;
  padding: 3rem 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-right: 2rem;
}

.footer-section h2 {
  margin-bottom: 1rem;
}

.footer-section p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn-primary {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ffdb4d;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-bottom p {
  font-size: 0.8rem;
}

.social-icons a {
  margin-left: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}

input::placeholder {
  color: #b4b4b4; 
}

textarea::placeholder {
  color: #b4b4b4; 
}

textarea {
  color: #6e6c6c; 
  background-color: #f4f4f4; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 8px; /
}

button[type="submit"] {
  background-color: #ff6a07; 
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 4px; 
  padding: 10px 20px; 
  cursor: pointer; 
}

button[type="submit"]:hover {
  background-color: #ff8b4d; 
}
