.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.logo {
  font-size: 1.5rem;
  margin-right: auto;
}

.nav-links, .auth-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li, .auth-buttons > * {
  margin-right: 1rem;
}

.nav-links li a, .auth-buttons > * {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links li a:hover, .auth-buttons > *:hover {
  color: #ffffff;
}

.signup-button {
  background-color: #208e83;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}

.login-button{
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}

.signup-button:hover {
  background-color: #10655c;
}

.login-button:hover {
  background-color: #ffffff;
  color: #000;
}