#root {
 
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav {
  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #1c1e25;
}

left {
  flex-grow: 1;
  padding: 10px;
}

left h1 {
  font-size: 30px;
  margin: 0;
  display: inline;
  position: relative;
}

h1 {
  background-color: lightblue;
  color: #1c1e25;
  padding: 5px 20px;
  position: relative;
  margin-left: 20px;
}

right ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.body-section {
  display: flex;
  align-items: center;
  justify-content: center;

}
.body-text {
  flex: 1;
  margin-left: 15px;
  text-align: center;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}

p a {
  color: #007BFF;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}